name: Deploy

on:
  pull_request:
    branches:
    - "main"
  push:
    branches:
    - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  algolia-docsearch:
    runs-on: ubuntu-latest
    needs: [lint-check, build-and-deploy]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2

      - name: Get the content of docsearch.json as config
        id: algolia_config
        run: echo "::set-output name=config::$(cat docsearch.json | jq -r tostring)"

      - name: Run algolia/docsearch-scraper image
        env:
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
          ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
          CONFIG: ${{ steps.algolia_config.outputs.config }}
        run: |
          docker run \
            --env APPLICATION_ID=${ALGOLIA_APP_ID} \
            --env API_KEY=${ALGOLIA_API_KEY} \
            --env "CONFIG=${CONFIG}" \
            algolia/docsearch-scraper

  build-and-deploy:
    runs-on: ubuntu-latest
    needs: [lint-check]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      - uses: ./tools/github-actions/setup-deps

      - name: Install dependencies
        run: make install

      - name: Build
        run: make build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.BLOG_DEPLOY_TOKEN }}
          publish_dir: ./dist

  lint-check:

    name: Lint
    runs-on: ubuntu-latest
        
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      - uses: ./tools/github-actions/setup-deps
      - uses: actions/setup-python@v5

      - name: Checkout LFS objects
        run: git lfs checkout

      - name: Instll tools
        run: make install-tools

      - name: Install dependencies
        run: make install

      - name: Run npm Lint
        run: make npm-lint
        
      - name: Run Markdown Lint
        run: make markdown
      
      - name: Run Yaml Lint
        run: make yamllint

      - name: Run CodeSpell Lint
        run: make codespell
